@import '../../styles/styleImport.scss';

.root {
}

.links {
  padding: 5px;

  a {
    color: $COLOR_LINK;
    text-decoration: none;
    margin-right: 10px;
  }
}

.showcase {
  border: 1px solid $COLOR_BORDER;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 5px;
  .title {
    margin: 0;
    padding-left: 5px;
  }
}
